
body, html, #root, #root>div, .viewport {
  width: 100vw;
  height: 100vh;
}
.tbl{
  margin: 15px 10px 10px 10px;
}

.cluster-form {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-control {
    	float: left;
		width: 60%;
		margin: 20px;
    }

    .form-group {
    	width: 60%;

    	label {
    		float: left;
    		margin: 28px;
    	}
    }

    .btn-primary {
    	margin:20px 0 50px 0;
    	cursor: pointer;
    }
}

